@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
:root{
    
    --primari-color:#00000033;
    --second-color:#4F5665;
    --clr-btns:#F53855;
    --ling-ltr: #FFFFFF:
}
body{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
      }
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 40px 40px;
}
.vpn{
    display: flex;
    align-items: center;
  }
  .rutas > a{
    text-decoration: none;
    color: var(--second-color);

  }

.button2{
    background-color: white;
   padding: 14px 28px;
   font-size: 16px;
   cursor: pointer;
    color:var(--clr-btns);
    border-color: var(--clr-btns);
    border-radius: 50px;
}
.button1{
    border: none;
    padding: 14px 28px;
    font-size: 16px;
    background-color: white;
}

#banner{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 500px;
    
  }
  #imagenBaner{
    height: 10px;
  } 
  #banner > div:first-child {
    padding: 30px 30px ;
  }
  .btn-primary{
    background-color: var(--clr-btns);
    color: aliceblue;
       padding: 14px 28px;
       font-size: 16px;
       cursor: pointer;
        border-radius: 10px;
        border: none;
  }
  #informt{
    
    display: grid;
    grid-template-columns: 20% 20% 20%;
    justify-content: space-evenly;

}
.items{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    height: 200px;
}
#hoja2{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10%;
    height: 500px;
}
.list{
    display: flex;
    align-items: center;

}
#chekList{
    display:flex;
    align-items: center;
}
#ventas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#items{

}

